.note-page {
    height: 100%;
    a {
        text-decoration: none;
        color: black;

        &.back {
            display: block;
            margin: 0 0 10px 2px;
            line-height: 20px;
            height: 20px;
        }
        .back-icon {
            display: inline-block;
            height: 18px;
            width: 20px;
            background: url("/public/assets/img/back_icon.png");
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: text-bottom;
        }
    }
}

.note {
    background: white;
    border-radius: 3px;
    box-shadow: 1px 1px 3px lightgrey;
    padding: 10px;
    box-sizing: border-box;

    form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .take-up-height {
            flex: 1;
        }
    }
}

input[type=text], textarea {
    padding: 5px;
    line-height: 24px;
    min-height: 32px;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;

    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

textarea {
    resize: none;
    display: block;
}

input.title {
    font-size: 16px;
    border-bottom: 1px solid lightgrey;
}