* {
    font-family: Arial, sans-serif;
}
body {
    background-color: #f6f6f6;
}

.hidden {
    display: none;
}

.container {
    margin: 10px auto;
    max-width: 1440px;
    padding: 10px;
}

.row {
    overflow: auto;
    width: 100%;
}

.float-left, .flloat-right {
    display: inline-block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}