* {
    font-family: Arial, sans-serif;
}
html, body, #app, .container {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 8px;
    background-color: #f6f6f6;
}

.hidden {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 10px;
}

.row {
    overflow: auto;
    width: 100%;
}

.float-left, .flloat-right {
    display: inline-block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.no-outline {
    outline: none;
}

input[type=submit] {
    padding: 10px 20px;
    background-color: #28a745;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 3px;
    box-shadow: 1px 1px 1px  lightgrey;
    cursor: pointer;
}

.center {
    text-align: center;
}

.error {
    color: #d24c4c;
}